[submodule "third_party/third_party/cJSON"]
	path = third_party/third_party/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "third_party/ESP8266_RTOS_SDK"]
	path = third_party/ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "third_party/esp"]
	path = third_party/esp
	url = https://github.com/UncleRus/esp-idf-lib.git
